@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

body {
  font-family: "Tajawal";
  color: #0d0d0d;
}

/* slider */
.carousel-inner img {
  height: 85vh;
}
/* end-slider */

/* breif */
.breif {
  position: relative;
  bottom: 55px;
}

.breif-title {
  color: #1d5267;
  font-weight: bold;
}

.breif-subtitle {
  color: #103543;
  font-size: 14px;
}

.breif-num {
  background-color: #abc5d0;
  color: #fff;
  font-weight: bold;
}

.breif-cont {
  background-color: #c0d3dc;
  color: #103543;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.breif-icon {
  background-color: #c0d3dc;
  color: #103543;
  font-size: x-large;
}
/* end-breif */

.container-fluid {
  background-color: #00113f;
  background-image: url(imgs/intro.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.about-img {
  border-radius: 3px;
}

.position-absolute {
  transform: translateY(15px);
}

.about-left,
.about-right {
  border-radius: 3px;
  background-color: #c0d3dc;
  color: #103543;
}

.about-left p,
.about-right p {
  width: 340px;
  height: 190px;
}

/* responsive */
@media (min-width: 767px) {
  .about-left {
    left: 25px;
  }

  .about-right {
    right: 25px;
  }
}

@media (max-width: 767px) {
  /* nav */
  nav img {
    height: 40px;
  }
  /* end-nav */

  /* slider */
  .carousel-inner img {
    height: auto;
  }
  /* end-slider */

  .container-fluid {
    height: 256px;
  }

  .about-left,
  .about-right {
    bottom: 20px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 24px;
  }

  h6 {
    font-size: 14px;
  }

  .container-fluid {
    height: 140px;
  }

  .about-left p,
  .about-right p {
    width: 250px;
    height: auto;
    font-size: 14px;
  }

  .about-img {
    height: 270px;
    width: 245px;
  }
}
